name: Full Test

on:
  workflow_dispatch:

jobs:
  Full-Test:
    name: Full Test
    strategy:
      fail-fast: false
      matrix:
        os:
          # https://github.com/actions/runner-images
          - windows-latest
          - windows-2025
          - windows-2022
          - ubuntu-latest
          - ubuntu-24.04
          - ubuntu-22.04
          # https://github.com/actions/partner-runner-images
          - ubuntu-24.04-arm
          - ubuntu-22.04-arm
        version:
          - 10.0
          - 11.0
          - 12.0
          - 13
          - latest
        method:
          - local
          - network
          - auto
        exclude:
          # CUDA 10.x is not supported on ARM architecture
          - os: ubuntu-24.04-arm
            version: 10.0
          - os: ubuntu-22.04-arm
            version: 10.0
    uses: ./.github/workflows/_test.yml
    with:
      os: ${{ matrix.os }}
      version: ${{ matrix.version }}
      method: ${{ matrix.method }}
      debug: true
