name: Full Test

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * 0'

jobs:
  Full-Test:
    name: Full Test
    strategy:
      fail-fast: false
      matrix:
        os:
          # https://github.com/actions/runner-images
          - windows-latest
          - windows-2025
          - windows-2022
          - ubuntu-latest
          - ubuntu-24.04
          - ubuntu-22.04
          # https://github.com/actions/partner-runner-images
          - ubuntu-24.04-arm
          - ubuntu-22.04-arm
        version:
          - '10.0'
          - '11.0'
          - '12.0'
          - '13.0'
          - latest
        method:
          - local
          - auto
        exclude:
          # CUDA 10.x is not supported on ARM architecture
          - os: ubuntu-24.04-arm
            version: '10.0'
          - os: ubuntu-22.04-arm
            version: '10.0'
    uses: ./.github/workflows/_test.yml
    with:
      os: ${{ matrix.os }}
      version: ${{ matrix.version }}
      method: ${{ matrix.method }}
      debug: true

  Container-Test:
    name: Container Test
    strategy:
      fail-fast: false
      matrix:
        container:
          - 'almalinux:9'
          - 'fedora:latest'
          - 'ubuntu:24.04'
          - 'centos:7'
        version:
          - latest
        method:
          - local
          - auto
    uses: ./.github/workflows/_test-container.yml
    with:
      os: ubuntu-latest
      container: ${{ matrix.container }}
      version: ${{ matrix.version }}
      method: ${{ matrix.method }}
      debug: true
