name: Release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Check for uncommitted changes
        run: |
          if [ -n "$(git status --porcelain dist)" ]; then
            echo "::error::dist folder is not up to date. Please run 'pnpm run build' locally and commit again."
            exit 1
          fi

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          gh release create ${{github.ref_name}} --generate-notes

      - name: Update Major Tag
        run: |
          GITHUB_REF_NAME=${{ github.ref_name }}
          MAJOR_TAG=${GITHUB_REF_NAME%%.*}
          echo "Updating $MAJOR_TAG to point to $GITHUB_REF_NAME"
          git tag -fa $MAJOR_TAG -m "$MAJOR_TAG"
          git push origin $MAJOR_TAG --force
